
<!--<md-button class="md-fab md-primary" aria-label="transfer" ng-click="mockCalls(1);">-->
  <!--<md-icon md-font-icon="icon-phone-forward" aria-label="icon-phone-forward"></md-icon>-->
<!--</md-button>-->
<!--<md-button class="md-fab md-primary" aria-label="transfer" ng-click="transfer()">-->
  <!--<md-icon md-font-icon="icon-phone-forward" aria-label="icon-phone-forward"></md-icon>-->
<!--</md-button>-->

<div class="page-layout simple fullwidth doc-page element-doc-page">
  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <md-button class="md-icon-button main-sidenav-toggle" ng-click="vm.toggleLeftSidenav('left-quick-panel')" aria-label="Toggle Left Sidenav">
      <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
    </md-button>
    <div class="title">{{currentUser.firstName}}&#39;s Agent Interface</div>
    <div class="status-div" layout="row">
      <div class="tag" layout="row" layout-align="start center">
        <div>Status: &nbsp;</div>
        <div ng-class="{'label-success': worker.activityName == 'Idle', 'label-danger': worker.activityName == 'Busy', 'label-default': worker.activityName == 'Offline', 'label-warning':worker.activityName == 'Reserved'}"></div>
        <div class="tag-label">{{worker.activityName}}</div>
      </div>
    </div>
  </div>


  <div class="content">

    <div class="simple-table-container md-whiteframe-4dp">
      <div class="reservations">
        <div style="text-align: center; padding: 30px; font-size: 28px" ng-hide="callTasks.length || reservation || task || extensionCallTasks.length">
          <h>Waiting for calls...</h>
        </div>

        <div class="content" ng-show="callTasks.length || reservation || task || extensionCallTasks.length">
          <md-tabs md-dynamic-height>
            <md-tab data-ng-if="callTasks.length" ng-repeat="task in callTasks" ng-click="changeCurrentCall(task)" md-active="isActive(task)">
              <md-tab-label>
                <md-icon md-font-icon="icon-phone-outgoing" ng-show="task.showOutgoingIcon()"></md-icon>
                <md-icon md-font-icon="icon-phone-incoming" ng-show="task.showIngoingIcon()"></md-icon>
                <md-icon md-font-icon="icon-phone-forward" ng-show="task.showConferenceIcon()"></md-icon>
                <md-icon ng-show="task.isCompleted()" md-font-icon="icon-close" ng-click="complete(false)"></md-icon>
                <span ng-hide="task.isExtensionCall()">{{task.fromNumber}}</span>
                <span ng-show="task.isExtensionCall()">{{task.callerName}}</span>
                <span ng-show="task.isConferenceCall()">Conference</span>
              </md-tab-label>
              <md-tab-body>
                <md-content class="h-400" ng-class="(task.isCompleted()) ? 'callCompleted' : 'md-grey-100-bg'">
                  <div style="height: 70px;"  ng-show="task.conferenceName!='chat'">
                    <md-icon style="font-size: 60px;position: relative;top: 30px; left: 30px;" md-font-icon="icon-phone" aria-label="icon-phone"></md-icon>
                  </div>
                  <div class="workingTimer" ng-class='{"invisible": !task.duration}' ng-show="task.conferenceName!='chat'"> {{ task.duration | counter }} </div>

                  <!-- call controls -->
                  <div layout="row" layout-align="center center" ng-show="task.conferenceName!='chat' && task.direction != 'conference'">

                    <md-button class="md-fab md-primary rec" aria-label="Record" ng-click="recordOn()" ng-show="!task.recording">
                      REC
                    </md-button>
                    <md-button class="md-fab md-warn rec" aria-label="Record" ng-click="recordOff()" ng-show="task.recording && !task.isExtensionCall()">
                      REC
                    </md-button>

                    <md-button class="md-fab md-primary" aria-label="MuteOn" ng-click="muteOn()" ng-show="!task.muted">
                      <md-icon md-font-icon="icon-microphone" aria-label="icon-microphone"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-warn mute" aria-label="Mute" ng-click="muteOff()" ng-show="task.muted">
                    </md-button>

                    <md-button class="md-fab md-primary" aria-label="holdOn" ng-click="holdOn()" ng-show="!task.onhold && !task.isExtensionCall()">
                      <md-icon md-font-icon="icon-phone-paused" aria-label="icon-phone-paused"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-warn" aria-label="holdOn" ng-click="holdOff()" ng-show="task.onhold && !task.isExtensionCall()">
                      <md-icon md-font-icon="icon-phone-paused" aria-label="icon-phone-paused"></md-icon>
                    </md-button>

                    <md-button class="md-fab md-primary" aria-label="transfer" ng-click="transfer()">
                      <md-icon md-font-icon="icon-phone-forward" aria-label="icon-phone-forward"></md-icon>
                    </md-button>

                    <md-button class="md-fab md-primary keypad" aria-label="keypad">
                    </md-button>

                    <md-button class="md-fab md-warn hangup" aria-label="hangup" ng-click="hangup()">
                    </md-button>
                  </div>

                  <!-- conference -->
                  <div layout="row" layout-align="center center" ng-show="task.direction == 'conference'">

                    <md-card ng-repeat="call in task.getCalls()">
                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline">{{ call.callerName}}</span>
                          <span class="md-subhead">{{ call.fromNumber }}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                          <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                      </md-card-title>
                      <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="hangupConferenceCaller(call, task)">Hangup</md-button>
                        <md-button ng-click="detachConferenceCaller(call, task)">Detach</md-button>
                      </md-card-actions>
                    </md-card>

                    <md-card>
                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline">{{ currentUser.firstName + ' ' + currentUser.lastName }}</span>
                        </md-card-title-text>
                          <span class="md-subhead">{{ currentUser.extension }}</span>
                        <md-card-title-media>
                          <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                      </md-card-title>
                      <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="dropOutOfConference(task)">Drop Out</md-button>
                        <md-button ng-click="disconnectAllConference(task)">Hangup All</md-button>
                      </md-card-actions>
                    </md-card>


                    <md-button class="md-fab md-primary" aria-label="MuteOn" ng-click="muteOn()" ng-show="!task.muted">
                      <md-icon md-font-icon="icon-microphone" aria-label="icon-microphone"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-warn mute" aria-label="Mute" ng-click="muteOff()" ng-show="task.muted">
                    </md-button>

                  </div>

                  <!-- chat -->
                  <section ng-show="session.channelSid" class="chat-controller" ng-cloak>

                    <div class="load-indicator" ng-show="session.isLoading">
                      <i class="fa fa-refresh fa-spin" style="font-size:20px"></i>
                    </div>

                    <div ng-show="session.isInitialized">

                      <div class="chat-canvas" scroll-glue>

                        <ul class="message-list" >

                          <li ng-class="{'me': message.author == session.identity}" class="message" ng-repeat="message in messages">

                            <div>

                              <div class="body">
                                <div class="needle"></div>
                                <p dynamic="message.body">{{message.body}}</p>
                              </div>
                              <div class="footer">
                                <div class="author">{{message.author}}</div>
                                <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{message.timestamp | time}}</div>
                              </div>

                            </div>

                          </li>

                        </ul>
                        <div id="bottom"></div>

                      </div>

                      <div class="typing-notification"><span>{{typingNotification}}</span></div>

                      <form class="chat-message-form form-horizontal" name="chatMessageForm">
                        <div layout="row" layout-align="between-space center">
                          <div flex="70">
                            <md-input-container class="md-block">
                              <input ng-model="vm.message" aria-label="msg" ng-model-options="{ debounce: 250 }" ng-required="true" autocomplete="off" ng-focus="focused()" name="text" type="text">
                            </md-input-container>
                          </div>
                          <div flex="30" class="mt-10">
                            <md-button class="md-raised md-deep-purple-500-bg" style="color: white" ng-disabled="chatMessageForm.$invalid || chatMessageForm.$pristine" ng-click="send()">Send</md-button>
                          </div>
                        </div>
                      </form>

                    </div>

                  </section>

                  <md-button ng-show="task.conferenceName=='chat'"  class="md-raised md-accent" ng-click="complete(true); complete(false);">Complete Task</md-button>
                  <div class="mt-30" layout="row" layout-align="center center" ng-show="task.isCompleted()">
                    <md-button class="md-warn md-raised md-hue-2" ng-click="complete(false)">
                      <span ng-show="task.isInGoingCall()">Complete task</span>
                      <span ng-show="task.isOutGoingCall() || task.isExtensionCall()">Close</span>
                    </md-button>
                  </div>


                </md-content>
              </md-tab-body>
            </md-tab>

            <md-tab data-ng-if="reservation != null" label="{{reservation.task.attributes.team}} Caller">
              <md-toolbar class="mt-10">
                <div class="md-toolbar-tools">
                  <div class="description">{{reservation.task.attributes.title}} from {{reservation.task.attributes.name}}</div>
                </div>
              </md-toolbar>
              <div layout="row" layout-align="space-between center" style="padding: 10px">
                <div class="timer" ng-class='{"invisible": !reservationCounter}'>created {{ reservationCounter | counter }} ago</div>
                <md-button class="md-raised md-accent" ng-click="acceptReservation(reservation)">Accept</md-button>
              </div>
            </md-tab>
            <md-tab data-ng-if="extensionCallTasks.length" ng-repeat="task in extensionCallTasks"  label="{{task.callerName}}">
              <md-toolbar class="mt-10">
                <div class="md-toolbar-tools">
                  <div class="description">Inbound Call from {{task.callerName}}</div>
                </div>
              </md-toolbar>
              <div layout="row" layout-align="space-between center" style="padding: 10px">
                <div class="timer" ng-class='{"invisible": !task.duration}'>created {{ task.duration | counter }} ago</div>
                <div layout="row" layout-align="space-between center">
                  <md-button class="md-raised md-accent" ng-click="acceptInboundCall(task)">Accept</md-button>
                  <md-button class="md-raised md-primary" ng-click="declineInboundCall(task)">Decline</md-button>
                </div>
              </div>

            </md-tab>
            <md-tab ng-if="task != null && !task.attributes.nameIsPhoneNumber"	 md-active="false" label="CHAT">
              <md-toolbar>
                <div class="md-toolbar-tools">
                  <div class="description">{{task.attributes.title}} from
                    <span>{{task.attributes.name}}</span>
                  </div>
                </div>
              </md-toolbar>

              <div layout="row" layout-align="space-between center" style="padding: 10px">
                <div style="font-size: 16px">{{task.attributes.text}}</div>
                <md-button ng-show="task != null"  class="md-raised md-accent" ng-click="complete(true)">Complete Task</md-button>
              </div>
            </md-tab>

          </md-tabs>
        </div>

      </div>
    </div>

  </div>

</div>
