<div class="page-layout simple fullwidth doc-page element-doc-page workflow-controller">
  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <div layout="column" layout-align="center start">
      <div class="title">{{user.firstName}}&#39;s Call Agent Interface</div>
    </div>
  </div>

  <div>Status:&nbsp;<span style="font-size:1em" ng-class="{'label-success': worker.activityName == 'Idle', 'label-danger': worker.activityName == 'Busy', 'label-default': worker.activityName == 'Offline', 'label-warning': worker.activityName == 'Reserved'}" class="label">{{worker.activityName}}</span></div>


  <div class="content">

    <div class="simple-table-container md-whiteframe-4dp">
      <div class="reservations">

        <!-- reservation is waiting for acceptance -->
        <div class="panel panel-default agent-reservation" ng-show="reservation != null">
          <div class="panel-heading">
            <h3 class="panel-title">Reservation</h3>
          </div>
          <div class="panel-body">

            <table>
              <tr>
                <td>
                  <div class="title">{{reservation.task.attributes.title}} from {{reservation.task.attributes.name}}</div>
                  <div class="timer" ng-class='{"invisible": !reservationCounter}'>created {{ reservationCounter | counter }} ago</div>
                </td>
                <td class="accept-panel"><button ng-click="acceptReservation(reservation)">Accept</button></td>
              </tr>
            </table>

          </div>
        </div>
        <!-- reservation is waiting for acceptance -->

        <!-- agent is waiting for new reservation -->
        <div class="panel panel-default agent-waiting" ng-show="reservation == null && task == null">
          <div class="panel-heading">
            <h4 class="panel-title">Waiting for new task ...</h4>
          </div>
        </div>
        <!-- agent is waiting for new reservation -->

        <!-- agent is working on a task -->
        <div class="panel panel-default agent-task" ng-show="task != null">

          <div class="panel-heading">

            <button ng-show="task != null"  class="btn btn-primary complete-task" ng-click="complete()">Complete Task</button>

          </div>

          <div class="panel-body">
            <div class="description">{{task.attributes.title}} from
              <span ng-show="!task.attributes.nameIsPhoneNumber">{{task.attributes.name}}</span>

              <a href="#" ng-click="callPhoneNumber('{{task.attributes.name}}')" ng-show="task.attributes.nameIsPhoneNumber">{{task.attributes.name}}</a>
            </div>
            {{task.attributes.text}}
          </div>

          <!-- chat -->
          <section ng-show="session.channelSid" class="chat-controller" ng-controller="ChatController" ng-cloak>

            <div class="load-indicator" ng-show="session.isLoading">
              <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div ng-show="session.isInitialized">

              <div class="chat-canvas" scroll-glue>

                <ul class="message-list" >

                  <li ng-class="{'me': message.author == session.identity}" class="message" ng-repeat="message in messages">

                    <div>

                      <div class="body">
                        <div class="needle"></div>
                        <p dynamic="message.body">{{message.body}}</p>
                      </div>
                      <div class="footer">
                        <div class="author">{{message.author}}</div>
                        <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{message.timestamp | time}}</div>
                      </div>

                    </div>

                  </li>

                </ul>
                <div id="bottom"></div>

              </div>

              <div class="typing-notification"><span>{{typingNotification}}</span></div>

              <form class="chat-message-form form-horizontal" name="chatMessageForm">
                <div class="form-group">
                  <div class="col-xs-8">
                    <input ng-model="message" ng-model-options="{ debounce: 250 }" ng-required="true" autocomplete="off" ng-focus="focused()" name="text" type="text" class="form-control" placeholder="say something">
                  </div>
                  <div class="col-xs-4">
                    <button ng-disabled="chatMessageForm.$invalid || chatMessageForm.$pristine" class="btn btn-primary" ng-click="send()">Send</button>
                  </div>
                </div>
              </form>

            </div>

          </section>
          <!-- chat -->

        </div>
        <!-- agent is working on a task -->

      </div>
      <div></div>
      <div class="logout"><span ng-click="logout()">logout</span></div>

    </div>
    <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
    <script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.7/taskrouter.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.js"></script>
    <script src="https://media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.10/twilio-ip-messaging.js"></script>

  </div>
</div>
