<div class="profile_tab" layout="row" layout-wrap>

  <div class="about" flex="100" flex-gt-sm="55" flex-gt-md="55">
    <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
      <header class="md-accent-bg">
        <div class="title">General Information</div>
      </header>

      <div class="content">
        <form id="profile_form" name="profile_form">
          <md-input-container class="md-block">
            <label>Extension</label>
            <input type="text" ng-model="vm.user.extension">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Forwarding Number</label>
            <input type="text" ng-model="vm.user.forwarding">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Sip Address</label>
            <input type="text" ng-model="vm.user.sipURI">
          </md-input-container>
          <md-switch ng-model="vm.user.hasVoicemail" aria-label="hasVoicemail" name="hasVoicemail">
            Voicemail Enabled
          </md-switch>
          <md-switch ng-model="vm.user.hasDid" aria-label="hasDid" name="hasDid">
            Did purchase access
          </md-switch>
          <md-switch ng-model="vm.user.hasFax" aria-label="hasFax" name="hasFax">
            Fax Access
          </md-switch>
          <fieldset class="standard">
            <legend>Permissions</legend>
            <div layout-wrap layout-gt-sm="row" >
              <div flex-gt-sm="50" ng-repeat="role in vm.roles">
                <md-checkbox aria-label="role checkbox" ng-checked="vm.roleExists(role, vm.user.roles)" ng-click="vm.roleToggle(role, vm.user.roles)">
                  {{role}}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
        </form>

      </div>
    </div>

  </div>
  <div class="about-sidebar" layout="column" flex="100" flex-gt-sm="45" flex-gt-md="45">
    <div class="profile-box md-whiteframe-1dp" layout="column">
      <header class="md-accent-bg" layout="row" layout-align="space-between center">
        <div class="title">User Dids
        </div>
      </header>
      <div class="content" layout="column" layout-wrap>
        <div>
          <add-did user="vm.user" flow="'user'"></add-did>
        </div>
        <md-list flex>
          <div layout="row" layout-align="space-between center">
            <md-subheader class="md-no-sticky" ng-hide="vm.user.dids.length">User has no dids</md-subheader>
            <md-subheader class="md-no-sticky" ng-show="vm.user.dids.length">Did List</md-subheader>
            <md-subheader class="md-no-sticky" ng-show="vm.user.dids.length"> Remove from Dids? </md-subheader>
          </div>
          <md-list-item ng-repeat="item in vm.user.dids" ng-click="false">
            <span style="z-index:10000;user-select:text;cursor:text"> {{item.number}} </span>
            <md-checkbox class="md-secondary" ng-model="item.userFlag" aria-label="delete did"></md-checkbox>
          </md-list-item>
        </md-list>
        <div>
          <md-button class="md-primary md-raised" ng-click="vm.openDeleteDidDialog($event)" ng-disabled="!vm.removingDids.length" style="float: right">
            Delete Did
          </md-button>
        </div>
      </div>
    </div>
    <div>
      <md-button ng-click="showSipHelpDialog($event)">
        Mobile/SIP Info
    </md-button>
    </div>


  </div>

</div>
