<div id="admin-user" class="page-layout simple tabbed" layout="column">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <md-button class="goto-products-button md-icon-button" aria-label="Go to users"
                 ui-sref="app.admin.users">
        <md-icon md-font-icon="icon-arrow-left"></md-icon>
      </md-button>

      <div layout="row" layout-align="start center">
        <div class="product-image" hide-xs ng-show="vm.user._id">
          <ng-avatar ng-if="!vm.user.avatarUrl" string="{{vm.user.firstName + ' ' + vm.user.lastName}}" bind="true" width="64" round-shape="true" bg-color="#3875d7" upper-case="true"></ng-avatar>
          <img ng-if="vm.user.avatarUrl" width="64" height="64" ng-src="{{vm.user.avatarUrl}}" >
        </div>
        <div class="product-image" hide-xs ng-hide="vm.user._id">
          <img class="profile-image avatar" width="64" height="64" src="assets/images/avatars/profile.jpg">
        </div>

        <div layout="column" layout-align="start start">
          <div class="h2">
            {{vm.user.firstName}} {{vm.user.lastName}}
          </div>
          <div class="subtitle secondary-text">
            <span>User Detail</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <md-button class="md-raised md-background" ng-click="vm.saveUser()"
                 ng-disabled="!vm.isFormValid('productForm')">
        <span>SAVE</span>
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <md-tabs md-dynamic-height md-selected="vm.tabIndex">

      <md-tab>
        <md-tab-label>
          <span>Basic Info</span>
        </md-tab-label>

        <md-tab-body>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">

            <form id="productForm" name="productForm">
              <md-input-container class="md-block">
                <label>Avatar</label>
                <media-preview model="vm.user.avatarUrl" preview-class="md-avatar avatar contact-avatar huge"></media-preview>
              </md-input-container>
              <md-input-container class="md-block">
                <label>First Name</label>
                <input type="text" ng-model="vm.user.firstName" required>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Last Name</label>
                <input type="text" ng-model="vm.user.lastName" required>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Phone</label>
                <input type="text" ng-model="vm.user.phone">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Email</label>
                <input type="email" ng-model="vm.user.email" required>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model="vm.user.password" name="new_pwd" ng-pattern="vm.confirmPassword|escapeRegex" required>
                <div ng-messages="productForm.new_pwd.$error">
                  <div ng-message="pattern">Password different</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Confirm Password</label>
                <input type="password" ng-model="vm.confirmPassword" name="confirm_pwd" ng-pattern="vm.user.password|escapeRegex" required>
                <div ng-messages="productForm.confirm_pwd.$error">
                  <div ng-message="pattern">Password different</div>
                </div>
              </md-input-container>

            </form>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab ng-disabled="!vm.user._id">
        <md-tab-label>
          <span>Profile</span>
        </md-tab-label>

        <md-tab-body>
          <md-content class="about-tab" ng-if="vm.user._id" ng-include="'app/main/admin/users/user/user.profile.html'">
          </md-content>
        </md-tab-body>
      </md-tab>

      <md-tab ng-disabled="!vm.user._id">
        <md-tab-label>
          <span>Skills</span>
        </md-tab-label>

        <md-tab-body>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
              <h3 class="tags secondary-text">Skills</h3>
              <md-chips ng-model="vm.user.skills"
                        placeholder="Enter a skill"
                        delete-button-label="Remove Skill"
                        delete-hint="Press delete to remove tag"
                        secondary-placeholder="+Skill">
              </md-chips>

            <span class="font-weight-200">To enter a new skill, type it above and <span class="font-weight-400">press return</span></span>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab ng-disabled="!vm.user._id">
        <md-tab-label>
          <span>Queues</span>
        </md-tab-label>

        <md-tab-body>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <autocomplete-user-queue user="vm.user"></autocomplete-user-queue>
          </div>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                   dt-options="vm.dtOptions">
              <thead>
              <tr>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Name</span>
                  </div>
                </th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Description</span>
                  </div>
                </th>
                <th class="secondary-text actions">
                  <div class="table-header">
                    <span class="column-title">Remove from this queue ?</span>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="queue in vm.user.queues">
                <td>{{queue.name}}</td>
                <td>{{queue.description}}</td>
                <td class="actions">
                  <md-checkbox ng-model="queue.userFlag" aria-label="belongs to queue"></md-checkbox>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab ng-disabled="!vm.user._id">
        <md-tab-label>
          <span>Groups</span>
        </md-tab-label>

        <md-tab-body>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <autocomplete-user-group user="vm.user"></autocomplete-user-group>
          </div>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                   dt-options="vm.dtOptions">
              <thead>
              <tr>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Name</span>
                  </div>
                </th>
                <th class="secondary-text">
                  <div class="table-header">
                    <span class="column-title">Description</span>
                  </div>
                </th>
                <th class="secondary-text actions">
                  <div class="table-header">
                    <span class="column-title">Remove from this group ?</span>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="group in vm.user.groups">
                <td>{{group.name}}</td>
                <td>{{group.description}}</td>
                <td class="actions">
                  <md-checkbox ng-model="group.userFlag" aria-label="belongs to group"></md-checkbox>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab ng-disabled="!vm.user._id">
        <md-tab-label>
          <span>Contacts</span>
        </md-tab-label>

        <md-tab-body>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
              <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                  <thead>
                  <tr>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Avatar</span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Name</span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Phone</span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Description</span>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="contact in vm.user.contacts">
                    <td><img ng-src="{{contact.avatarUrl}}"></td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.phone}}</td>
                    <td>{{contact.description}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <contact-modal></contact-modal>
          </div>
        </md-tab-body>
      </md-tab>

    </md-tabs>

  </div>
  <!-- / CONTENT -->

</div>
