
<md-list class="friends">

  <!-- CONTACT LIST -->
  <md-list class="contacts-list">

    <!-- CONTACT ITEM -->
    <md-list-item class="contact-item md-white-bg" md-ink-ripple
                  ng-repeat="contact in vm.contacts | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredContacts track by contact.id "
                  ng-click="vm.openContactDialog($event, contact)"
                  ng-class="{'selected': vm.isSelected(contact)}">

      <div class="status  {{contact.status}}"></div>
      <img ng-src="{{contact.avatar}}" class="md-avatar" alt="{{contact.name}}"/>
      <div class="status  {{contact.status}}"></div>

      <p class="text-truncate font-weight-600">{{contact.name}} {{contact.lastName}}</p>


      <p class="phone text-truncate hide show-gt-md">
        {{contact.phone}}
      </p>
      <md-button class="md-icon-button" aria-label="Call" translate
                 translate-attr-aria-label="QUICKPANEL.CALL">
        <md-icon md-font-icon="icon-phone"></md-icon>
      </md-button>
      <md-button class="md-icon-button  hide show-gt-xs"
                 ng-click="$event.stopPropagation();vm.toggleInArray(contact.id, vm.user.starred)"
                 aria-label="Toggle starred" translate
                 translate-attr-aria-label="CONTACTS.TOGGLE_STARRED">
        <md-icon ng-if="vm.exists(contact.id,vm.user.starred)" md-font-icon="icon-star"
                 class="amber-fg"></md-icon>
        <md-icon ng-if="!vm.exists(contact.id,vm.user.starred)"
                 md-font-icon="icon-star-outline"></md-icon>
      </md-button>




    </md-list-item>
    <!-- CONTACT ITEM -->

  </md-list>
  <!-- / CONTACT LIST -->

</md-list>

