<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-image" ng-style="vm.MenuLogoTextUrl && {'background': 'none'}" >
          <img src="{{vm.MenuLogoTextUrl}}" ng-show="vm.MenuLogoTextUrl" style="width: 35px; height: 35px;">
          <span ng-hide="vm.MenuLogoTextUrl">{{vm.LogoLetter}}</span>
        </span>
        <span class="logo-text">
          <img src="{{vm.MenuLogoImageUrl}}" ng-show="vm.MenuLogoImageUrl" style="max-width: 130px; max-height: 35px;">
          <span ng-hide="vm.MenuLogoImageUrl">{{vm.MenuLogoText}}</span>
        </span>

    </div>

    <md-icon class="fold-toggle s18" md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon>
</md-toolbar>

<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions"></ms-navigation>
