<div id="admin-user" class="page-layout simple tabbed" layout="column">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <md-button class="goto-products-button md-icon-button" aria-label="Go to users"
                ui-sref="app.admin.queues">
        <md-icon md-font-icon="icon-arrow-left"></md-icon>
      </md-button>

      <div layout="row" layout-align="start center">
        <div layout="column" layout-align="start start">
          <div class="h2">
            {{vm.queue.name}}
          </div>
          <div class="subtitle secondary-text">
            <span>Queue Detail</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <md-button class="md-raised md-background" ng-click="vm.saveQueue()"
                 aria-label="save queue"
                 ng-disabled="!vm.isFormValid('productForm')">
        <span ng-if="!vm.queue._id">ADD</span>
        <span ng-if="vm.queue._id">SAVE</span>
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <md-tabs md-dynamic-height>

      <md-tab>
        <md-tab-label>
          <span>Basic Info</span>
        </md-tab-label>

        <md-tab-body>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <form id="productForm" name="productForm">
              <md-input-container class="md-block">
                <label>Name</label>
                <input type="text" ng-model="vm.queue.name" required>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="vm.queue.description"></textarea>
              </md-input-container>
            </form>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          <span>Contacts</span>
        </md-tab-label>

        <md-tab-body>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">

          </div>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          <span>Members</span>
        </md-tab-label>

        <md-tab-body>
          <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
              <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                     dt-options="vm.dtOptions">
                <thead>
                <tr>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Avatar</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">First Name</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Last Name</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Email</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Extension</span>
                    </div>
                  </th>
                  <th class="secondary-text">
                    <div class="table-header">
                      <span class="column-title">Action</span>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.queue.users">
                  <td><ng-avatar initials="{{user.firstName.charAt(0) + user.lastName.charAt(0)}}" round-shape="true" bg-color="#3875d7"></ng-avatar></td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.extension}}</td>
                  <td>
                    <md-checkbox ng-model="user.queueFlag" aria-label="belongs to queue"></md-checkbox>
                  </td>
                </tr>
                </tbody>
              </table>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>

  </div>
  <!-- / CONTENT -->

</div>
