<input style="font-size:2em; padding-left:10px;" ng-show="isActive == false" ng-model="phoneNumber" type="text" name="phoneNumber" placeholder="+.." />
<div class="phone-number" style="font-size:2em; padding-left:10px" ng-if="isActive == true" />{{phoneNumber}}</div>

<div class="keypad">

  <div ng-click="addDigit('1')" class="digit">1</div>
  <div ng-click="addDigit('2')" class="digit">2</div>
  <div ng-click="addDigit('3')" class="digit">3</div>

  <div ng-click="addDigit('4')" class="digit">4</div>
  <div ng-click="addDigit('5')" class="digit">5</div>
  <div ng-click="addDigit('6')" class="digit">6</div>

  <div ng-click="addDigit('7')" class="digit">7</div>
  <div ng-click="addDigit('8')" class="digit">8</div>
  <div ng-click="addDigit('9')" class="digit">9</div>

  <div ng-click="addDigit('*')"class="digit">*</div>
  <div ng-click="addDigit('0')" class="digit">0</div>
  <div ng-click="addDigit('#')" class="digit">#</div>

</div>

<button class="button-call" ng-if="isActive == false" ng-click="call(phoneNumber)">CALL</button>
<button class="button-hangup" ng-if="isActive == true" ng-click="hangup()">HANGUP</button>
<span class="status">Status: {{status}}</span>
<span ng-if="error != null" class="status">Error: {{error}}</span>
