<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">


<% include ../partials/header %>

<% include ../../public/administration/index.html%>

<% include ../partials/footer %>

</body>
</html>