<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">


<% include ../partials/header %>

<% include ../../public/index.html.include%>

<% include ../partials/footer %>

</body>
</html>