<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

<% include ../partials/navbar.guest.ejs %>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page">
        <div class="content">
            <div class="container">
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right">
                    ©
                    <script async="" src="//www.google-analytics.com/analytics.js"></script><script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="/">Personable</a>
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url() "></div>
    </div>
</div>

</body>
<% include ../partials/libs %>
</html>
