<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

<div class="wrapper">
    <% include ../partials/sidebar %>


    <div class="main-panel">
        <% include ../partials/navbar %>

        <% include ../../public/profile/index.html %>

    </div>
</div>

</body>

<% include ../partials/libs %>
</html>