#left-quick-panel {
  md-toolbar {
    background-color: #F3F4F5;
    color: rgba(0, 0, 0, 0.87);

    md-icon {
      color: rgba(0, 0, 0, 0.87);
    }

    .md-toolbar-tools-top {
      border-bottom: 1px solid rgba(0, 0, 0, .08);

      .avatar-wrapper {
        cursor: pointer;
      }
    }

    .md-toolbar-tools-bottom {
      background-color: #FAFAFA;
      .search {
        height: 36px;
        line-height: 36px;
        padding: 8px;
        background: #FFF;
        font-size: 13px;
      }
    }
  }

  md-content {
    md-list {
      md-list-item {
        border-bottom: 1px solid lightgrey;
      }
    }
  }
}

