
  <md-toolbar>
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
      <!-- CALL SEARCH -->
      <div class="search-wrapper md-whiteframe-1dp" layout="row" layout-align="start center" flex="90">

        <div class="search" flex layout="row" layout-align="start center">

          <md-icon md-font-icon="icon-magnify" class="icon s18">
          </md-icon>

          <input flex ng-model="$ctrl.historySearch" type="text" placeholder="Search">

        </div>
      </div>
      <!-- /CALL SEARCH -->

      <!-- CALL FILTER -->
      <div flex="10">
        <md-menu md-position-mode="target-right target">

          <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                     aria-label="more">
            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
          </md-button>

          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="$ctrl.callFilterType = 'all'">
                All
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.callFilterType = 'received'">
                Received
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.callFilterType = 'placed'">
                Placed
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <!-- /CALL FILTER-->
    </div>
  </md-toolbar>

  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="call in $ctrl.calls | filter:$ctrl.historySearch | filter:$ctrl.filterCalls() " ng-if="$ctrl.calls.length > 0">
          <div class="md-list-item-text fl1" layout="column">
            <div class="column-row" layout="row">
              <div class="fl1">
                <h3 ng-click="$ctrl.makeCall(call)">{{$ctrl.getNumberByDirection(call)}}</h3>
                <p>{{$ctrl.getDirection(call)}}</p>
              </div>
              <div class="fl1">
                <span>{{call.created_at | date : 'MM/dd/yyyy h:mm a' }}</span>
                <span>Duration: {{ call.duration | secsToDuration }}</span>
                <md-icon md-font-icon="icon-play-circle-outline" ng-click="$ctrl.openRecordingDialog(call)"></md-icon>
              </div>
            </div>
            <div class="column-row">
              <div class="md-list-item-text fl1" ng-click="$ctrl.openRecordingDialog(call)">

                <div ng-if="!!call.transcription">
                  <p class="ellipsis">{{call.transcription | cleanTranscription }}</p>
                </div>
              </div>
            </div>
          </div>
      </md-list-item>
      <md-list-item class="md-3-line" ng-if="$ctrl.calls.length === 0">
        No calls found
      </md-list-item>
    </md-list>
    <cl-paging flex cl-pages="$ctrl.historyPagination.pages"
               cl-steps="4"
               cl-align="center center"
               cl-page-changed="$ctrl.loadCalls()"
               cl-current-page="$ctrl.historyPagination.currentPage"></cl-paging>
  </md-content>

