<md-dialog aria-label="Mango (Fruit)" style="width: 400px">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Purchase Did</h2>
        <span flex></span>
        <md-progress-circular id="toolbar-progress" ng-if="loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="24">
        </md-progress-circular>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <form name="didForm" novalidate>
        <div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Select Country</label>
            <input type="text" id="country" value="United States" aria-label="country code"/>
          </md-input-container>
          <input type="text" id="country_code" ng-model="countryCode" hidden/>
        </div>
        <div layout="row" layout-align="space-between center">
          <md-radio-group ng-model="isTollFree" layout="row">
            <md-radio-button value="0">Local</md-radio-button>
            <md-radio-button value="1"> Toll free </md-radio-button>
          </md-radio-group>
          <md-button class="md-primary md-raised mb-10" ng-click="searchDid(0)" ng-disabled="didForm.$invalid || didForm.$pristine">
            Search
          </md-button>
        </div>
        <div layout="row" ng-show="isTollFree === '0'" layout-align="space-between center">
          <div>
            <md-input-container class="md-block">
              <label>Search(optional)</label>
              <input type="text" name="contains" ng-model="contains">
            </md-input-container>
          </div>
          <div flex="5"></div>
          <div ng-show="countryCode === 'us'">
            <md-input-container class="md-block">
              <label>Area Code(optional)</label>
              <input type="text" name="areaCode" ng-model="areaCode">
            </md-input-container>
          </div>
        </div>
        <div layout="row" layout-align="space-between center">
          <md-input-container>
            <label>Phone Number</label>
            <md-select ng-model="selectedDid" style="min-width: 200px;">
              <md-option ng-repeat="did in didSearch" ng-value="did.phone_number" ng-selected="$first">
                {{did.phone_number}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button class="md-accent md-raised mb-10" ng-click="purchaseDid()" ng-disabled="!didSearch.length">
            Purchase
          </md-button>
        </div>
      </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()" style="margin-right:20px;" >
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
<script>
  $("#country").countrySelect();
</script>

