
<md-toolbar>
  <div class="md-toolbar-tools md-toolbar-tools-bottom">
    <!-- CALL SEARCH -->
    <div class="search-wrapper md-whiteframe-1dp" layout="row" layout-align="start center" flex>

      <div class="search" flex layout="row" layout-align="start center">

        <md-icon md-font-icon="icon-magnify" class="icon s18">
        </md-icon>

        <input flex ng-model="vm.chatSearch" type="text" placeholder="Search">

      </div>
    </div>
    <!-- /CALL SEARCH -->

  </div>
</md-toolbar>

<md-content>
  <md-list>
    <md-list-item class="md-3-line" ng-click="null">
      <div class="md-list-item-text">
        <h3>858 450-7441</h3>
      </div>
      <span>05/01/2016</span>&nbsp;
      <span>4:25 PM</span>

    </md-list-item>
    <md-list-item class="md-3-line" ng-click="null">
      <div class="md-list-item-text">
        <h3>858 450-7441</h3>
      </div>
      <span>05/01/2016</span>&nbsp;
      <span>4:25 PM</span>

    </md-list-item>
  </md-list>

</md-content>

