<section id="dialpad-layout" layout="row" flex>
  <div layout="column">
    <div>
      <span class="status">Status: {{status}}</span>
    </div>
    <div class="dialpad-input">
      <input type="text" class="inputDialpad" data-ng-model="vm.phoneNumber" ng-keyup="$event.keyCode == 13 ? vm.call(vm.phoneNumber, $event) : vm.keyDowned($event)">
    </div>
    <div layout="column" class="mt-20">
      <bc-keypad style="font-size: 28px; padding-bottom: 0"
        bc-number-model="vm.phoneNumber"
        ng-click="vm.digitClicked()"
      >
      </bc-keypad>
      <div class="bc-keypad" layout="row" layout-align="space-between center">
        <div class="bc-keypad__key">
          <button class="bc-keypad__key-button" angular-ripple ng-click="vm.hangup()">
            <md-icon md-font-icon="icon-phone-hangup" style="font-size: 40px; font-weight: 900; color: red" aria-label="call-hangup-button"></md-icon>
          </button>
        </div>
        <div class="bc-keypad__key">
          <button class="bc-keypad__key-button" angular-ripple ng-click="vm.call()">
            <md-icon md-font-icon="icon-phone" style="font-size: 40px; font-weight: 900; color: green" aria-label="call-button"></md-icon>
          </button>
        </div>
        <div class="bc-keypad__key">
          <button class="bc-keypad__key-button" angular-ripple ng-click="vm.backBtnClicked()">
            <md-icon md-font-icon="icon-keyboard-backspace" style="font-size: 40px; font-weight: 900; color: black" aria-label="key-backspace-button"></md-icon>
          </button>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="center center" class="mt-30">
      <md-button ng-click="toggleRight()" class="md-raised md-primary"  ng-if="isActive == true">
        Volume Monitor
      </md-button>
    </div>
  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Volume Monitor</h1>
    </md-toolbar>
    <md-content  layout-padding>
      <div id="volume-indicators">
        <label>Mic Volume</label>
        <div id="input-volume"></div><br/><br/>
        <label>Speaker Volume</label>
        <div id="output-volume"></div>
      </div>
    </md-content>
  </md-sidenav>
</section>
