<md-dialog class="transfer-dialog" aria-label="Call transfer and conference">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Call transfer and conference</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <md-input-container class="md-block">
        <md-select class="account-selection simplified" placeholder="Transfer Selection"
                   ng-model="vm.selectedAction" ng-change="vm.onTransferChange()">
          <md-option value="transfer-call">Transfer call</md-option>
          <md-option value="join-lines">Join Lines</md-option>
        </md-select>
      </md-input-container>

      <md-tabs ng-if="vm.displayableAction === 'transfer-call'">
        <md-tab label="Active Calls">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Search</label>
            <input ng-model="vm.searchText" type="text">
            <md-icon md-svg-src="assets/icons/img/ic_search_black_24px.svg"></md-icon>
          </md-input-container>
        </md-tab>
        <md-tab label="Queues">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Search</label>
            <input ng-model="vm.searchText" type="text">
            <md-icon md-svg-src="assets/icons/img/ic_search_black_24px.svg"></md-icon>
          </md-input-container>
        </md-tab>
        <md-tab label="Directory">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Search</label>
            <input ng-model="vm.searchText" type="text">
            <md-icon md-svg-src="assets/icons/img/ic_search_black_24px.svg"></md-icon>
          </md-input-container>

            <md-list class="contacts-list">
              <!-- CONTACT ITEM -->
              <md-list-item class="contact-item md-white-bg"
                            md-ink-ripple ng-repeat="user in vm.users | orderBy:'-starred' | filter:vm.searchText track by user._id"
                            ng-class="{'selected': vm.isSelected(user)}">

                <div class="status  {{user.status}}"></div>
                <img avatar-image ng-src="{{user.imageUrl}}" class="md-avatar" alt="{{user.firstName}}"/>
                <div class="status  {{user.status}}"></div>
                <p class="text-truncate font-weight-600">{{user.firstName}} {{user.lastName}}</p>
                <p class="phone text-truncate hide show-gt-md" ng-click="vm.callUser(user)">
                  {{user.phone}}
                </p>
                <md-button class="md-icon-button" aria-label="Call" ng-click="vm.callUser(user)">
                  <md-icon md-font-icon="icon-phone"></md-icon>
                </md-button>
                <md-icon md-font-icon="icon-star" ng-class="{'amber-fg': vm.isStarred(user)}" ng-click="vm.updateStarredUser(user, user._id)"></md-icon>
              </md-list-item>
              <!-- CONTACT ITEM -->
            </md-list>
        </md-tab>
        <md-tab label="Contacts">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Search</label>
            <input ng-model="vm.searchText" type="text">
            <md-icon md-svg-src="assets/icons/img/ic_search_black_24px.svg"></md-icon>
          </md-input-container>
        </md-tab>
      </md-tabs>
      <div ng-if="vm.displayableAction === 'join-lines'">
        <div layout="row">
          <md-input-container>
            <md-checkbox ng-model="vm.lineToJoin" ng-checked="vm.lineToJoin == 1" ng-value="1" aria-label="Finished?">
              Inbound call 1
            </md-checkbox>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container>
            <md-checkbox ng-model="vm.lineToJoin" ng-checked="vm.lineToJoin == 2" ng-value="2" aria-label="Finished?">
              Outbound call (858) 371-3881
            </md-checkbox>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container>
            <md-checkbox ng-model="vm.lineToJoin" ng-checked="vm.lineToJoin == 3" ng-value="3" aria-label="Finished?">
              Outbound Call (619 381-28111)
            </md-checkbox>
          </md-input-container>
        </div>
      </div>


    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button ng-click="vm.closeDialog()" class="send-button md-accent md-raised" aria-label="Send">
          SEND
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
