<md-dialog class="transfer-dialog" aria-label="Call transfer and conference">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Call transfer and conference</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <!--<md-input-container class="md-block">-->
        <!--<md-select class="account-selection simplified" placeholder="Transfer Selection"-->
                   <!--ng-model="vm.selectedAction" ng-change="vm.onTransferChange()">-->
          <!--<md-option value="transfer-call">Transfer call</md-option>-->
          <!--<md-option value="join-lines">Join Lines</md-option>-->
        <!--</md-select>-->
      <!--</md-input-container>-->
      <div ng-if="vm.displayableAction == 'start-screen'">
        <md-button class="md-raised" ng-click="vm.displayableAction = 'transfer-call'"> Transfer </md-button>
        <md-button class="md-raised" ng-click="vm.displayableAction = 'join-lines'"> Conference </md-button>
      </div>
      <md-tabs ng-if="vm.displayableAction === 'transfer-call'">
        <!--
        <md-tab label="Active Calls">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Search</label>
            <input ng-model="vm.searchText" type="text">
            <md-icon md-svg-src="assets/icons/img/ic_search_black_24px.svg"></md-icon>
          </md-input-container>
        </md-tab>
        <md-tab label="Queues">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Search</label>
            <input ng-model="vm.searchText" type="text">
            <md-icon md-svg-src="assets/icons/img/ic_search_black_24px.svg"></md-icon>
          </md-input-container>
        </md-tab>
        -->
        <md-tab label="Directory">
          <contacts-directory users="vm.users" no-star="true" no-call="true"></contacts-directory>
        </md-tab>
        <!--
        <md-tab label="Contacts">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Search</label>
            <input ng-model="vm.searchText" type="text">
            <md-icon md-svg-src="assets/icons/img/ic_search_black_24px.svg"></md-icon>
          </md-input-container>
        </md-tab>
        -->
        <md-tab label="Phone Number">
          <md-input-container class="md-icon-float md-icon-right md-block">
            <label>Enter Phone Number</label>
            <input ng-model="vm.transferExternalNumber" type="text">
          </md-input-container>
        </md-tab>
      </md-tabs>
      <div ng-if="vm.displayableAction === 'join-lines'">
        <div class="md-warn" ng-show="callTasks.length < 2">Two or more active calls are required to join.</div>

        <fieldset class="standard" ng-show="callTasks.length > 1">
          <legend>Calls to Join</legend>
          <div layout-wrap layout-gt-sm="row" ng-repeat="call in callTasks">
            <div flex-gt-sm="100">
              <md-checkbox ng-checked="exists(call, selected)" ng-click="toggle(call, selected)">
                {{ call.fromNumber }}
              </md-checkbox>
              <!--<md-checkbox name="selectedCalls[]" value="{{task.callSid}}">-->
               <!--&lt;!&ndash; " aria-label="{{ task.fromNumber }}" ng-model="task"  &ndash;&gt;-->
                <!--{{ task.fromNumber }}-->
              <!--</md-checkbox>-->
            </div>
          </div>
        </fieldset>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center" ng-if="vm.displayableAction != 'start-screen'">
      <div layout="row" layout-align="center center">
        <md-button ng-if="vm.displayableAction == 'start-screen'" ng-click="vm.cancelChange()" class="send-button md-accent md-active" aria-label="Cancel">
          Cancel
        </md-button>
        <md-button ng-if="vm.displayableAction != 'start-screen'" ng-click="vm.displayableAction = 'start-screen'" class="send-button md-accent md-active" aria-label="Cancel">
          Back
        </md-button>
        </div>
      <div>
        <md-button ng-click="vm.confirmChange()" class="send-button md-accent md-raised" aria-label="Transfer Call">
          {{vm.displayableAction=='transfer-call'?'Transfer Call':'Join Lines'}}
        </md-button>
        </div>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
